@import '_variables';

/* Space out content a bit */
html,body {
  margin:0px;
  padding:0px;
}

section{
  margin-top: $navbar-height;
}

/* Responsive: Mobiles */
@media screen and (max-width: 480px) {
  section{
    margin-top: $navbar-height-mobile;
  }
}