/* Space out content a bit */
html,body {
  margin:0px;
  padding:0px;
}

section{
  margin-top: $navbar-height;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}