@import '_variables';

$panel-heading-height : 45px;

#view-map{
  .angular-google-map-container {
    height: 400px;
    .reserved{
      color:red;
    }
    .free{
      color:green;
    }
  }
  .tophe-list{
    position:absolute;
    margin:0px auto;
    top:$navbar-height + 20px;
    bottom:20px;
    left:20%;
    right:20%;
    min-height: 200px;
    display: block;
    background-color: #f0f0f0;
    .panel-heading{
      height:$panel-heading-height;
    }
    ul{
      overflow-y: scroll;
      height: 80%;
      height: calc(100% - #{$panel-heading-height} );
      li{
        cursor: pointer;
        &:hover{
          background-color: #FFCCCC;
        }
      }
    }
  }
}

/* Other : Tablets */
@media screen and (max-width : 768px) {
  #view-map{
    .tophe-list{
      top:$navbar-height + 10px;
      left:10%;
      right:10%;
      bottom:10px;
    }
  }
}

/* Other : Mobiles */
@media screen and (max-width : 480px) {
  #view-map{
    .tophe-list{
      top:$navbar-height;
      left:0%;
      right:0%;
      bottom:0;
    }
  }
}