@import '_variables';

header{
  nav{
    .container-fluid{
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  nav.navbar{
    min-height: $navbar-height;
  }
  .home-anchor-wrapper{
    .btn{
      margin: 15px 0px 0px 15px;
    }
  }
  ul.input-wrapper{
    margin:15px 15px 0px;
    padding:0px;
    list-style: none;
    li{
      float: left;
    }
    li.search-wrapper {
      position: relative;
      input{
        width:180px;
        padding-left: 30px;    
      }
      i {
        position: absolute;
        left: 0px;
        padding: 10px 12px;
        pointer-events: none;
      }
    }
  }
}

#view-home{
  header{
    li.search-wrapper{
      display:none;
    }
    .logo-light{
      display:none;
    }
  }
}

/* Responsive: Mobiles */
@media screen and (max-width : 480px) {
  #view-map{
    header{
      .logo{
        display:none;
      }
    }
  }
}

/* Other : Tablet - Desktop */
@media screen and (min-width : 480px) {
  #view-map{
    header{
      .logo-light{
        display:none;
      }
    }
  }
}