@import '_variables';

header{
  nav{
    .container-fluid{
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  nav.navbar{
    min-height: $navbar-height;
  }
  .left-inner-addon {
    position: relative;
  }
  .left-inner-addon input {
    padding-left: 30px;    
  }
  .left-inner-addon i {
    position: absolute;
    left: 0px;
    padding: 10px 12px;
    pointer-events: none;
  }
}

/* Responsive: Mobiles */
@media screen and (max-width : 480px) {

}