<div id="view-home">
  <div ng-include="'partials/navbar'"></div>
  <section>
    <div class="settings">
      <div class="radio">
        <label>
          <input type="radio" value="fr" ng-model="language">
          Français
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="en" ng-model="language">
          English
        </label>
      </div>
      <select class="form-control" ng-model="contract" ng-options="(contract.name + ' / ' + contract.commercial_name) for contract in contracts">
        <option value="">-- {{ 'HOME_SELECT_CHOICE' | translate }} --</option>
      </select>
      <div class="panel panel-default" ng-show="contract">
        <div class="panel-body">
          <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="goToMap(contract.name)">{{contract.commercial_name}}</button>
          <div class="pull-left">
            <span>{{ contract.cities.length > 1 ? 'CITIES' : 'CITY' | translate }} :</span>
            <ul>
              <li ng-repeat="city in contract.cities">{{city}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="'partials/home_intro_' + language + '.html'"></div>
  </section>
</div>