<h3>Bienvenue</h3>
<p>JCDecaux a implanté dans diverses villes des réseaux de vélos en libre-service (tel que le Velib' à Paris).</p>
<p>Accédez, en temps réel aux informations sur la disponibilité de ces vélos ainsi que des places libres pour chaque station.</p>
<h4>Pour les développeurs</h4>
<p>Ceci est un projet perso fait sous AngularJS, afin d'aller plus loin que la simple todo-list que nous avons tous fait. Pour plus d'informations, voir l'article sur mon blog.</p>
<p>Le code source est disponible sur github sous licence MIT, plus d'information techniques dans le README.</p>