<div id="view-home">
  <div ng-include="'partials/navbar'"></div>
  <section>
    <p>{{ 'WELCOME' | translate:'{ username: "toto" }' }}</p>
    <p><a ng-href="/map">Go to map</a></p>
    <div class="settings">
      <div class="radio">
        <label>
          <input type="radio" value="fr" ng-model="language">
          Français
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="en" ng-model="language">
          English
        </label>
      </div>
      <select class="form-control" ng-model="contract" ng-options="(contract.name + ' / ' + contract.commercial_name) for contract in contracts">
        <option value="">-- {{ 'HOME_SELECT_CHOICE' | translate }} --</option>
      </select>
    </div>
    <div ng-include="'partials/home_intro_' + language + '.html'"></div>
  </section>
</div>