<h3>Bienvenue</h3>
<p>JCDecaux a implanté dans diverses villes des <a href="http://www.cyclocity.com/" title="Ciclocity">réseaux de vélos en libre-service</a> (tel que le Velib' à Paris).</p>
<p>Accédez, en temps réel aux informations sur la disponibilité de ces vélos ainsi que des places libres pour chaque station.</p>
<h4>Pour les développeurs</h4>
<p>Ceci est un projet perso fait sous <strong>AngularJS</strong>, afin d'aller plus loin que la simple todo-list que nous avons tous faite. Pour plus d'informations, voir <a href="http://dev.topheman.com/topheman-cycle-infos/" title="blog post">l'article sur mon blog</a>.</p>
<p>Le code source est disponible sur <a href="https://github.com/topheman/cycle-infos" title="Topheman Cycle Infos sur github">github</a> sous licence MIT, plus d'informations techniques dans le <a href="https://github.com/topheman/cycle-infos/blob/master/README.md" title="README sur github">README</a>.</p>
<footer>
  <p>©2014 Topheman Cycle Infos - Christophe Rosset - plus sur <a href="http://labs.topheman.com">labs.topheman.com</a></p>
</footer>