<h3>Welcome</h3>
<p>JCDecaux offers <a href="http://en.cyclocity.com/" title="Ciclocity">self-service bikes</a> (like Velib' in Paris).</p>
<p>Access in real time the availaility of the bikes and places for each station.</p>
<h4>For the developers</h4>
<p>This is a little side project made with <strong>AngularJS</strong>, in order to do something a little more elaborated than the todolist we've all done. For further informations, check out the <a href="http://dev.topheman.com/topheman-cycle-infos/" title="blog post">post on my blog</a>.</p>
<p>The source code is open on <a href="https://github.com/topheman/cycle-infos" title="Topheman Cycle Infos on github">github</a> under MIT license, more technical informations in the <a href="https://github.com/topheman/cycle-infos/blob/master/README.md" title="README on github">README</a>.</p>
<footer>
  <p>©2014 Topheman Cycle Infos - Christophe Rosset - more on <a href="http://labs.topheman.com">labs.topheman.com</a></p>
</footer>