<div id="view-map">
  <div ng-include="'partials/navbar'"></div>
  <section>
    <google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events" tophe-map-resize="{marginTop : 60}">
      <markers models="stations.list" coords="'self'" labelContent="address" fit="map.fit">
        <windows ng-cloak>
          <p ng-non-bindable>{{address}}</p>
          <p ng-non-bindable>{{name}}</p>
          <p ng-non-bindable><span class="{{available_bikes === 0 ? 'reserved' : 'free'}}">{{'AVAILABLE_BIKES'| translate}} : {{available_bikes}}</span> / <span class="{{available_bike_stands === 0 ? 'reserved' : 'free'}}">{{'AVAILABLE_STANDS'| translate}} : {{available_bike_stands}}</span></p>
          <p ng-non-bindable>{{'LAST_UPDATED'| translate}} : {{last_update| date : "HH'h'mm'm'ss's'"}}</p>
          <p ng-non-bindable><a href="http://streetview.topheman.com/#lat={{latitude}}&lon={{longitude}}" title="{{'LABEL_TOPHEMAN_STREETVIEW'| translate}}">{{'LABEL_TOPHEMAN_STREETVIEW'| translate}}</a></p>
        </windows>
      </markers>
    </google-map>
    <div class="tophe-list addresses panel panel-default" ng-show="addresses.show" ng-cloak>
      <div class="panel-heading">{{'MAP_CHOOSE_LOCATION'| translate}} <button type="button" class="close" aria-hidden="true" ng-click="closeLists()">&times;</button></div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="address in addresses.list" ng-click="centerAddress(address.geometry.location.lat(), address.geometry.location.lng())">{{address.formatted_address}}</li>
      </ul>
    </div>
    <div class="tophe-list stations panel panel-default" ng-show="stations.show" ng-cloak>
      <div class="panel-heading">{{'MAP_CHOOSE_STATION'| translate}} <button type="button" class="close" aria-hidden="true" ng-click="closeLists()">&times;</button></div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="station in stations.list | filter:stations.search:strict | orderBy:asc" ng-click="centerAddress(station.latitude, station.longitude)">{{station.address}}</li>
      </ul>
    </div>
  </section>
</div>