<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header pull-left home-anchor-wrapper">
        <a class="navbar-brand logo" ng-href="/">Topheman Cycle Infos <br><span class="badge">{{currentContract}}</span></a>
        <button type="button" class="btn btn-default logo-light" ng-href="/"><i class="glyphicon glyphicon-home"></i></button>
      </div>
      <button type="button" class="btn btn-default logo-refresh" ng-show="displayRefreshButton" ng-click="refreshStations()"><i class="glyphicon glyphicon-refresh"></i></button>
      <ul class="navbar-header pull-right input-wrapper">
        <li class="search-station-wrapper search">
          <form>
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" ng-model="stations.search" placeholder="{{ 'MAP_SEARCH_STATION_PLACEHOLDER' | translate }}" autocomplete="off" />
          </form>
        </li>
        <li class="search-address-wrapper search">
          <form ng-submit="searchAddress()">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" ng-model="addresses.search" placeholder="{{ 'MAP_SEARCH_LOCATION_PLACEHOLDER' | translate }}" autocomplete="off" />
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>