<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header pull-left home-anchor-wrapper">
        <a class="navbar-brand logo" ng-href="/">Cycle Infos Topheman</a>
        <button type="button" class="btn btn-default logo-light" go-click="/"><i class="glyphicon glyphicon-home"></i></button>
      </div>
      <ul class="navbar-header pull-right input-wrapper">
        <li class="search-wrapper">
          <form>
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" name="location" placeholder="Type a location ..." autocomplete="off" />
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>